<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_order_status.name %>
</p>

<%= link_to 'Edit', edit_work_order_status_path(@work_order_status) %> |
<%= link_to 'Back', work_order_statuses_path %>
