<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dumpster_type.name %>
</p>

<%= link_to 'Edit', edit_dumpster_type_path(@dumpster_type) %> |
<%= link_to 'Back', dumpster_types_path %>
